

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sale Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div th:replace="layout/navbar :: navbar"></div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${allSaleProduct}" class="container my-5">
                <p class="my-5">
                    <a th:href="@{/sale/{saleId}/product/create (saleId=${saleId})}" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2"> Add Sale Product </i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Sale Product ID</th>
                                <th>Sale Id</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="saleProduct : ${allSaleProduct}">
                                <td th:text="${saleProduct.id}"></td>
                                <td th:text="${saleProduct.sale.id}"></td>

                                <td th:text="${saleProduct.product.name}"></td>
                                <td th:text="${saleProduct.quantity}"></td>
                                <td th:text="${saleProduct.price}"></td>
                                <td>
                                    <a th:href="@{/sale/{saleId}/product/edit/{id}(saleId=${saleProduct.sale.id} ,id=${saleProduct.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>